schemas/purl/org/dcterms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           jaxb:version="2.1" targetNamespace="http://purl.org/dc/terms/"
           xmlns="http://purl.org/dc/terms/" 
           xmlns:dc="http://purl.org/dc/elements/1.1/" 
           xmlns:dcterms="http://purl.org/dc/terms/"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="com.ibm.rqm.xml.bind"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <!-- Import necessary namespaces -->
    <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rdf.xsd"/>
    <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>

    <!-- Define W3CDTF type -->
    <xs:complexType name="W3CDTF">
        <xs:simpleContent>
            <xs:restriction base="dc:SimpleLiteral">
                <xs:simpleType>
                    <xs:union memberTypes="xs:gYear xs:gYearMonth xs:date xs:dateTime"/>
                </xs:simpleType>
                <xs:attribute name="lang" use="prohibited"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Declare elements -->
    <xs:element name="created" type="dcterms:W3CDTF"/>
    <xs:element name="modified" type="dcterms:W3CDTF"/> <!-- Updated from xsd:dateTime -->
</xs:schema>
