schemas/purl/org/rdf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:qm_process="http://jazz.net/xmlns/prod/jazz/rqm/process/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" jaxb:version="2.1" targetNamespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <!-- When editing, use schemaLocation='processinfo.xsd' for the editor to correctly pickup the schema. This must have the full path for use when served to the browser -->
  <!-- /jazz/secure/service/com.ibm.rqm.integration.service.IIntegrationService/schema/processinfo.xsd -->
  <import namespace="http://jazz.net/xmlns/prod/jazz/rqm/process/1.0/" schemaLocation="processinfo.xsd"/>
  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="com.ibm.rqm.xml.rdf"/>
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>
  <element name="RDF">
    <complexType>
      <choice>
        <element maxOccurs="1" ref="qm_process:ProcessInfo">
          <annotation>
            <documentation xml:lang="en">
Process specification information
</documentation>
          </annotation>
        </element>
      </choice>
    </complexType>
  </element>
  <attribute name="resource" type="anyURI"/>
  <attribute name="about" type="anyURI"/>
  <attribute name="datatype" type="anyURI"/>
</schema>
