schemas/opc-markupCompatability.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="qualified" blockDefault="#all" 
  xmlns="http://schemas.openxmlformats.org/markup-compatibility/2006"
  xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main"
  xmlns:wp="http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing"
  xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
  xmlns:c="http://schemas.microsoft.com/office/drawing/2007/8/2/chart"
  xmlns:c2="http://schemas.openxmlformats.org/drawingml/2006/chart"
  targetNamespace="http://schemas.openxmlformats.org/markup-compatibility/2006">

  <xsd:import id="a" namespace="http://schemas.openxmlformats.org/drawingml/2006/main" schemaLocation="dml-main.xsd"/>
  <xsd:import id="wps" namespace="http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing" schemaLocation="dml-wordprocessingDrawing.xsd"/>
  <xsd:import id="w" namespace="http://schemas.openxmlformats.org/wordprocessingml/2006/main" schemaLocation="wml.xsd"/>
  <xsd:import id="c" namespace="http://schemas.microsoft.com/office/drawing/2007/8/2/chart" schemaLocation="opc-chartStyle.xsd"/>
  <xsd:import id="c2" namespace="http://schemas.openxmlformats.org/drawingml/2006/chart" schemaLocation="dml-chart.xsd"/>

  <xsd:simpleType name="ST_Requires">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="wps"/>
    </xsd:restriction>
  </xsd:simpleType>  

  <xsd:attribute name="Ignorable" type="xsd:string"/>
  
  <xsd:element name="AlternateContent">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Choice">
          <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="w:drawing"/>
              <xsd:element ref="c:style"/>
            </xsd:choice>
            <xsd:attribute name="Requires" type="ST_Requires" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Fallback">
          <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="w:pict"/>
              <xsd:element ref="c2:style"/>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
