schemas/word12.xsd

 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="qualified" blockDefault="#all" 
    xmlns:w06="http://schemas.openxmlformats.org/wordprocessingml/2006/main" 
    xmlns:w06st="http://schemas.openxmlformats.org/officeDocument/2006/sharedTypes"
    xmlns:c="http://schemas.openxmlformats.org/drawingml/2006/chart"
    xmlns:Content_Types="http://schemas.openxmlformats.org/package/2006/content-types"
    xmlns:Relationships="http://schemas.openxmlformats.org/package/2006/relationships"
    xmlns:core_data="http://schemas.openxmlformats.org/package/2006/metadata/core-properties"
  xmlns:w12="http://schemas.microsoft.com/office/word/2012/wordml"
  xmlns:clbl="http://schemas.microsoft.com/office/2020/mipLabelMetadata"
  xmlns:b="http://schemas.openxmlformats.org/officeDocument/2006/bibliography"
  xmlns:dc="http://schemas.openxmlformats.org/officeDocument/2006/customXml"
  xmlns:cs="http://schemas.microsoft.com/office/drawing/2012/chartStyle"
  xmlns:wne="http://schemas.microsoft.com/office/word/2006/wordml"
  targetNamespace="http://schemas.microsoft.com/office/word/2012/wordml">
  
  <!--Schemas expanded upon by Corey Kwiatkowski along with fixes to Microsoft schemas to allow for DOCX schema validation -->
  
   <xsd:import id="w06" namespace="http://schemas.openxmlformats.org/wordprocessingml/2006/main" schemaLocation="wml.xsd"/>
   <xsd:import id="w06st" namespace="http://schemas.openxmlformats.org/officeDocument/2006/sharedTypes" schemaLocation="shared-commonSimpleTypes.xsd"/>
   
   <!-- TO UNINCLUDE CHART.xml VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="c" namespace="http://schemas.openxmlformats.org/drawingml/2006/chart" schemaLocation="dml-chart.xsd"/>
   <!-- TO UNINCLUDE [CONTENT_TYPES].xml VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="Content_Types" namespace="http://schemas.openxmlformats.org/package/2006/content-types" schemaLocation="opc-contentTypes.xsd"/>
   
   <!-- TO UNINCLUDE document.xml.rels VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="Relationships" namespace="http://schemas.openxmlformats.org/package/2006/relationships" schemaLocation="opc-relationships.xsd"/>
   
   <!-- TO UNINCLUDE core.xml VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="core_data" namespace="http://schemas.openxmlformats.org/package/2006/metadata/core-properties" schemaLocation="opc-coreProperties.xsd" />
   
  <!-- TO UNINCLUDE app.xml VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="app_data" namespace="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" schemaLocation="shared-documentPropertiesExtended.xsd" />
   
   
   <!-- TO UNINCLUDE custom xml VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="b" namespace="http://schemas.openxmlformats.org/officeDocument/2006/bibliography" schemaLocation="shared-bibliography.xsd" />
   
   <!-- TO UNINCLUDE custom xml VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="dc" namespace="http://schemas.openxmlformats.org/officeDocument/2006/customXml" schemaLocation="shared-customXmlDataProperties.xsd"/> 
   
   <!-- TO UNINCLUDE Chart Colors VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="cs" namespace="http://schemas.microsoft.com/office/drawing/2012/chartStyle" schemaLocation="opc-chartColors.xsd"/>
   
   <xsd:import id="clbl" namespace="http://schemas.microsoft.com/office/2020/mipLabelMetadata" schemaLocation="opc-labelinfo.xsd"/>
   
   <!-- TO UNINCLUDE VBA SCRIPT VALIDATION WITHIN THIS SCHEMA COMMENT OUT IMPORT BELOW -->
   <xsd:import id="wne" namespace="http://schemas.microsoft.com/office/word/2006/wordml" schemaLocation="wordml2006.xsd"/>
   
   <xsd:element name="vbaSuppData" type="wne:CT_VbaSuppData"/>
   <xsd:element name="colorStyle" type="cs:CT_ColorStyle"/>
   <xsd:element name="color" type="w06:CT_Color"/>
   <xsd:element name="labelList" type="clbl:CT_ClassificationLabelList"/>
   <xsd:simpleType name="ST_SdtAppearance">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="boundingBox"/>
       <xsd:enumeration value="tags"/>
       <xsd:enumeration value="hidden"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="dataBinding" type="w06:CT_DataBinding"/>
   <xsd:complexType name="CT_SdtAppearance">
     <xsd:attribute name="val" type="w12:ST_SdtAppearance"/>
   </xsd:complexType>
   <xsd:element name="appearance" type="w12:CT_SdtAppearance"/>
   <xsd:complexType name="CT_CommentsEx">
     <xsd:sequence>
       <xsd:element name="commentEx" type="w12:CT_CommentEx" minOccurs="0" maxOccurs="unbounded"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_CommentEx">
     <xsd:attribute name="paraId" type="w06:ST_LongHexNumber" use="required"/>
     <xsd:attribute name="paraIdParent" type="w06:ST_LongHexNumber" use="optional"/>
     <xsd:attribute name="done" type="w06st:ST_OnOff" use="optional"/>
   </xsd:complexType>
   <xsd:element name="commentsEx" type="w12:CT_CommentsEx"/>
   <xsd:complexType name="CT_People">
     <xsd:sequence>
       <xsd:element name="person" type="w12:CT_Person" minOccurs="0" maxOccurs="unbounded"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_PresenceInfo">
     <xsd:attribute name="providerId" type="xsd:string" use="required"/>
     <xsd:attribute name="userId" type="xsd:string" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Person">
     <xsd:sequence>
       <xsd:element name="presenceInfo" type="w12:CT_PresenceInfo" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
     <xsd:attribute name="author" type="w06st:ST_String" use="required"/>
   </xsd:complexType>
   <xsd:element name="people" type="w12:CT_People"/>
   <xsd:complexType name="CT_SdtRepeatedSection">
     <xsd:sequence>
       <xsd:element name="sectionTitle" type="w06:CT_String" minOccurs="0"/>
       <xsd:element name="doNotAllowInsertDeleteSection" type="w06:CT_OnOff" minOccurs="0"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ST_Guid">
     <xsd:restriction base="xsd:token">
       <xsd:pattern value="\{[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}\}"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CT_Guid">
     <xsd:attribute name="val" type="w12:ST_Guid"/>
   </xsd:complexType>
   <xsd:element name="repeatingSection" type="w12:CT_SdtRepeatedSection"/>
   <xsd:element name="repeatingSectionItem" type="w06:CT_Empty"/>
   <xsd:element name="chartTrackingRefBased" type="w06:CT_OnOff"/>
   <xsd:element name="collapsed" type="w06:CT_OnOff"/>
   <xsd:element name="docId" type="w12:CT_Guid"/>
   <xsd:element name="footnoteColumns" type="w06:CT_DecimalNumber"/>
   <xsd:element name="webExtensionLinked" type="w06:CT_OnOff"/>
   <xsd:element name="webExtensionCreated" type="w06:CT_OnOff"/>
   <xsd:attribute name="restartNumberingAfterBreak" type="w06st:ST_OnOff"/>
 </xsd:schema>
